#profile{
  border-radius: 50%;
  width: 100px;
}
body{
  text-align: center;
  background-image: linear-gradient(pink, skyblue);
}
h1{
  color: darkred;
    font-family: cursive;
}
h2{
 color: darkmagenta;
 font-family: sans-serif; 
}
h4{
 color: darkblue;
}
.menu{
    list-style: none;
    font-family: 'Bonheur Royale', cursive;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: crimson;
    font-size: 36px;
    
}
h3{
    font-family: 'Pacifico', cursive;
    color: darkslateblue;
}
